{% load static %}
{% include 'components/topbar.html' %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
    <script src="{% static 'js/load_components.js' %}" defer></script>
    <title>Mypage</title>
</head>
<body>
    <div id="wrap">
        <header>
            <h1>마이페이지 </h1>
        </header>

        <main>
            <section class="profile">
                <div class="profile_image_wrap">
                    <img id="profile_image" src="{{ profile_image_url }}" alt="프로필 이미지">
                    <input id="user_profile" type="file" accept="image/*" />
                    
                </div>
                <div class="profile_info">
                    <p id="username">{{ username }}</p>
                    <input id="username_input" name="username" type="text" value="{{ username }}" style="display: none;">

                    <p id="nickname">{{ nickname }}</p>
                    <input id="nickname_input" name="nickname" type="text" value="{{ nickname }}" style="display: none;">

                </div>
                <div class="profile_box">
                    <button id="my_report" class="profile_btn">
                        <p>내 제보</p>
                        <span id="report_count">{{ report_count }}</span>
                    </button>
                    <button id="my_post" class="profile_btn">
                        <p>작성한 글</p>
                        <span id="post_count">{{ post_count }}</span>
                    </button>
                </div>
                <button id="edit_profile">프로필 수정</button>
            </section>
            <section class="setting">
                <h3>설정</h3>
                <div class="setting_detail">
                    <p>이용약관</p>
                    <p>개인정보 처리방침</p>
                </div>
                <div class="setting_button">
                    <button id="cancel">회원탈퇴</button>
                    <button id="logout">로그아웃</button>
                </div>
            </section>
        </main>
    </div>
    <script src="{% static 'js/mypage.js' %}"></script>
</body>
</html>