{% load static %}
{% include 'components/topbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/policy.css' %}">
    <script src="{% static 'js/load_components.js' %}" defer></script>
    
</head>
<body>
    <div id="wrap">
    <div class="policy-container">
        <div class="policy-title" id="policy-title"></div>
        <div class="policy-content" id="policy-content"></div>
    </div>
    <script src="{% static 'js/policy.js' %}"></script>
    </div>
</body>
</html>