{% load static %}
{% include 'components/topbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/terms.css' %}">
    <script src="{% static 'js/load_components.js' %}" defer></script>
    
</head>
<body>
    <div class="terms-container">
        <div class="terms-title" id="terms-title"></div>
        <div class="terms-content" id="terms-content"></div>

    </div>
    <script src="{% static 'js/terms.js' %}"></script>
</body>
</html>