<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="report.css">
    <title>report_page</title>
</head>
<body>
    <div id="wrap">
        <header>
            <h1>제보하기</h1>
        </header>
        <main>
            <div class="top">
            <div class="report_button">
                <button id="write_report">제보글 작성하기</button>
                <button id="latest_report">최신 제보</button>
            </div>
            <div id="category_filter">
                <p>카테고리별 필터</p>
                 <select>
                    <option value="" disabled selected>-----선택해주세요-----</option>
                    <option value="sexual_harassment">성추행/성폭력</option>
                    <option value="stalking">스토킹</option>
                    <option value="corner">인적 드문 곳</option>
                    <option value="other">기타위험</option>
                </select>
            </div>
            </div>
            <div id="write_report_content" class="tab_content">
                <div class="write_top">
                <div class="location">
                    <p>위치</p>
                    <input type="text" id="address_input" placeholder="이곳을 클릭하여 위치를 선택하세요" value="">
                    <div id="map_tab" style="display: none;">
                        <input type="text" id="address_search" placeholder="주소를 입력 후 Enter를 눌러주세요." value="">
                        <div id="map"></div>
                        <button id="finish">선택 완료</button>
                    </div>
                    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f4b20e6dcc5ea780a057025c44d35270&libraries=services"></script>
                </div>
                <div class="category">
                    <p>위험 카테고리</p>
                    <select>
                        <option value="" disabled selected>-----선택해주세요-----</option>
                        <option value="sexual_harassment">성추행/성폭력</option>
                        <option value="stalking">스토킹</option>
                        <option value="corner">인적 드문 곳</option>
                        <option value="other">기타위험</option>
                    </select>
                </div>
                </div>
                <div class="write_middle">
                    <input type="text" id="title" placeholder="제목을 입력해주세요">
                    <textarea id="letter" placeholder="내용을 입력해주세요"></textarea>
                </div>
                <div class="write_bottom">
                    <div class="upload_image">
                    <p>사진첨부 (선택)</p><p id="photo_upload_detail">*한 장씩 업로드해 주세요.</p>
                    <input type="file" id="image_input" multiple accept="image/*">
                    </div>
                    <div id="preview"></div>
                </div>
                <button id="post_report">등록</button>
            </div>
            <div id="latest_report_list" class="tab_content">
                {% if reports %}
                    {% for report in reports %}
                        <div class="content_box">
                            <div class="status">
                                <p>{{ report.status }}</p> 
                            </div>
                            <div class="report_content">
                                <h2>{{ report.title }}</h2>
                                <p>{{ report.content }}</p>
                                <div class="report_footer">
                                    <span>도움이 돼요 {{ report.likes }}</span>
                                    <span>댓글 {{ report.comments.count }}</span>
                                </div>
                            </div>
                            <div class="report-image"></div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>작성한 제보글이 없습니다.</p>
                {% endif %}
            </div>
            <div id="report_detail" class="tab_content" style="display: none;">
                <div class="detail_status">
                    <p>{{ report.status }}</p> 
                </div>
                <div class="detail_top">
                    <div class="detail_top_text">
                        <h2>{{ report.title }}</h2>
                        <p>{{report.address}}</p>
                    </div>
                    <div class="detail_map"></div>
                </div>
                <div class="detail_mid">
                    <div class="detail_category">
                        <h3>위험 카테고리</h3>
                        <p>{{report.category}}</p>
                    </div>
                    <h3>상세 내용</h3>
                    <div class="detail_content">
                        <p>{{report.content}}</p>
                    </div>
                </div>
                <div class="detail_bottom"><div class="detail_image">{{report.photo}}</div></div>
                <div class="fix_btn">
                    <button id="revise">수정</button>
                    <button id="delete">삭제</button>
                </div>
                <button id="back_btn">목록 보기</button>
            </div>
        </main>
    </div>
    <script src="report.js"></script>
</body>
</html>