.top_bar{
    width: 100%;
    height: 98px;
    display: flex;
    position: relative;
    align-items: center;
    border-bottom: solid #E386AD 1px ;
    background-color: white;
}
h5{
    color: #AC316D;
    font-weight: 600;
    font-size: 24px;
    position: absolute;
    left: 50px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    cursor: pointer;
}
.navbar{
    position: absolute;
    right: 378px;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 80px; 
    font-weight: 400;
    font-size: 14px;
}
.nav-links a{
    text-decoration: none; 
    color: inherit; 
} 
ul.nav-links li a.active {
    color: #AC316D;
    border-bottom: 1px solid #AC316D;
    padding-bottom: 8px;
  }
.login{
    display:flex;
    flex-direction: row;
    gap: 30px;
    position: absolute;
    right: 46px;
    align-items: center;
}

.login_btn , .sign_btn, .logout_btn{
    background-color: #ffffff;
    width: 102px;
    height: 50px;
    border-radius: 22px;
    border: 2px solid #E386AD;
}