<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>accounts 테스트용 페이지: 추후 메인 페이지로 연결 필요</h2><hr>
    {%if request.user.is_authenticated%}
        {{request.user.username}}님 환영합니다.<br/>
        <a href="{% url 'accounts:logout' %}">로그아웃</a>
        <a href="{% url 'accounts:mypage' %}">마이페이지</a>
    {%else%}
        <a href="{% url 'accounts:login' %}">로그인</a>
        <a href="{% url 'accounts:signup' %}">회원가입</a>
    {%endif%}
</body>
</html>