<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'mapview:mainmap' %}">홈으로</a>
    <h2>내가 작성한 글</h2><hr>
    <p>Nickname: {{ request.user.nickname }}</p>

    {% for post in posts %}
    <h2><a href="{% url 'community:post_detail' post.id %}">{{post.title}}</a></h2>
    {{ post.created_at }}
    {% empty %} 글이 없습니다. {% endfor %}
</body>
</html>