{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav</title>

    <link rel="stylesheet" href="{% static 'css/topbar.css' %}"/>
    <script src="{% static 'js/load_components.js' %}" defer></script>
</head>
<body>
    <div class="top_bar" id="top_bar">
        <!-- logo section -->
        <h5 id="logo">여성 안심 지도</h5>
          <!-- nav section -->
        <div class="navbar">
            <ul class="nav-links" id="nav-links">
                <li><a href="/map/">지도</a></li>
                <li><a href="/reports/page/">제보하기</a></li>
                <li><a href="/community/page/">커뮤니티</a></li>
                <li><a href="/accounts/page/mypage/">마이페이지</a></li>
              <!-- <li><a href="/2025-herethon-8/frontend/pages/map.html">지도</a></li>
              <li><a href="/2025-herethon-8/frontend/pages/notify.html">제보하기</a></li>
              <li><a href="/2025-herethon-8/frontend/pages/community.html">커뮤니티</a></li>
              <li><a href="/2025-herethon-8/frontend/pages/mypage.html">마이페이지</a></li> -->
            </ul>
        </div>
        <div class="login" id="login-area">
            <a href="{% url 'accounts:login_page' %}" class="login_btn">Login</a>
            <a href="{% url 'accounts:signup_page' %}" class="sign_btn">Sign up</a>
        </div>
    </div>

</body>
</html>